<form action="/login" method="POST">
  <input type="hidden" name="_method" value="PUT">
  <input type="submit" value="Logout">
</form>
<h1>Deck</h1>
  <h3> <%=@deck.name %></h3>
  <h5> <%=@deck.description %></h5>
  <% @cards.each do |quest| %>
    <ul class="list">
      <li>Question: <%=quest.question%></li>
    </ul>
    <hr>
  <% end %>
  <a href="/cards/new/<%= @deck.id%>">Create a new card! </a>
  <br>
  <a href="/decks">Go back to the list of deck</a>
  <br>
  <input type="button" value="Want to play?" onClick="location.href='/decks/<%= @deck.id%>/cards/0'">
